// Mixins Here

.blue-btn(@light-clr, @dark-clear){
    vertical-align: top;
    margin-top: 6px;
    padding: 15px 80px;
    font-size: 17px;
    border: 1px solid @light-clr;
&:hover {
    color: @dark-clr;
    background-color: @light-clr;
}
&:active {
    border-color: @dark-clr;
    border-color: @dark-clr;
    }
}

.set-page-width(@width){
max-width: @width;
}

.flex-setup(@direct, @display){
    display:flex;
    flex-direction:@direct;
    justify-content:jstfy;
}
